*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    color: white;
    background: orangered;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

form{
    background: #0A0502;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 5px white;
    margin-top: 50px;
    width: 450px;
    height: 450px;
    overflow: hidden;
}

.input1{
    padding: 10px;
    font-size: 20px;
    background: transparent;
    color: white;
    position: relative;
    border: 2px solid grey;
    border-radius: 10px;
    top: 50px;
    left: 90px;
}

.input2{
    padding: 10px;
    font-size: 20px;
    background: transparent;
    color: white;
    position: relative;
    border: 2px solid grey;
    border-radius: 10px;
    top: 70px;
    left: 90px;
}

.cont{
    display: flex;
    margin: 5px;
    position: relative;
    top: 90px;
    left: 75px;
}

.operator, .submit, .clear{
    padding: 10px;
    color: white;
    background: orangered;
    font-weight: 900;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.operator:hover, .submit:hover, .clear:hover{
    background: grey;
}

.output{
    font-size: 40px;
    padding: 20px;
    color: white;
    font-weight: 900;
    text-align: right;
    background: transparent;
    position: relative;
    top: 120px;
    width: auto;
    height: auto;

}
